@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --maroon: #390000;
  --red: #E80008;
  --black: #1A1A1A;
  --gray: #333333;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --maroon: #390000;
    --red: #FA2424;
    --black: #1A1A1A;
    --gray: #333333;
  }
} */
::selection{
  background: #390000;
  color: white;
}
body{
  background-color: #1A1A1A;
  color: white;
  font-size: 0.9rem;
}
select option:first-child:hover {
  background-color: red;
}
textarea{
  resize: none;
}
.library{
  background-image: url('/library-4.jpg')
}
.highlight{
  color: #FA2424
}
.widgets{
  background-color: var(--gray)
}
.bg-maroon{
  background-color: var(--red)
}
.imageWithShadow {
  border-radius: 50%;
  box-shadow:  -5px -5px 20px #523939,
            5px 5px 20px #865d5d;
}
